extends layout

block content
  h1= title
    &nbsp;
    i.material-icons(style='font-size: 30px; margin: 5px') cloud_download
  p Welcome to #{title}
  ul
  each brosur, i in download
    li
    a(href='http://admin-tobi.herokuapp.com/' + brosur.brosurFile)= brosur.name